@using Entities.ViewModels.Home
@using Entities.Constants
@model CurrencyDetailViewModel
@{
    ViewData["Title"] = "CurrencyDetail";
}

<div class="post d-flex flex-column-fluid" id="kt_post">
    <!--begin::Container-->
    <div id="kt_content_container" class="container">

        <a href="#" class="btn btn-info me-2 mb-2">

            <span class="svg-icon svg-icon-1">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path opacity="0.25" d="M1 5C1 3.89543 1.89543 3 3 3H21C22.1046 3 23 3.89543 23 5V19C23 20.1046 22.1046 21 21 21H3C1.89543 21 1 20.1046 1 19V5Z" fill="#12131A" />
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M20.8682 6.49631C21.1422 6.01679 20.9756 5.40594 20.4961 5.13193C20.0166 4.85792 19.4058 5.02451 19.1317 5.50403L15.8834 11.1886C15.6612 11.5775 15.2073 11.7712 14.7727 11.6626L9.71238 10.3975C8.40847 10.0715 7.04688 10.6526 6.38005 11.8195L3.13174 17.504C2.85773 17.9835 3.02433 18.5944 3.50385 18.8684C3.98337 19.1424 4.59422 18.9758 4.86823 18.4963L8.11653 12.8118C8.33881 12.4228 8.79268 12.2291 9.22731 12.3378L14.2876 13.6028C15.5915 13.9288 16.9531 13.3478 17.6199 12.1808L20.8682 6.49631Z" fill="#12131A" />
                </svg>
            </span>
            (@Model.CurrencyDto.Name)   Grafik Üzerinde Gör
        </a>

        <a asp-action="CurrencyList" class="btn btn-warning me-2 mb-2">
            <!--begin::Svg Icon | path: icons/duotone/Design/Image.svg-->
            <span class="svg-icon svg-icon-1">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <circle opacity="0.25" cx="12" cy="12" r="10" fill="#12131A" />
                    <path d="M11 5C11 4.44772 11.4477 4 12 4C12.5523 4 13 4.44772 13 5V6C14.6569 6 16 7.34315 16 9C16 9.55229 15.5523 10 15 10C14.4477 10 14 9.55229 14 9C14 8.44772 13.5523 8 13 8H11C10.4477 8 10 8.44771 10 9V9.55848C10 9.98891 10.2754 10.3711 10.6838 10.5072L13.9487 11.5955C15.1737 12.0038 16 13.1502 16 14.4415V15C16 16.6569 14.6569 18 13 18V19C13 19.5523 12.5523 20 12 20C11.4477 20 11 19.5523 11 19V18C9.34315 18 8 16.6569 8 15C8 14.4477 8.44771 14 9 14C9.55229 14 10 14.4477 10 15C10 15.5523 10.4477 16 11 16H13C13.5523 16 14 15.5523 14 15V14.4415C14 14.0111 13.7246 13.6289 13.3162 13.4928L10.0513 12.4045C8.82629 11.9962 8 10.8498 8 9.55848V9C8 7.34315 9.34315 6 11 6V5Z" fill="#12131A" />
                </svg>
            </span>
            Para Birimi Listelerine Dön
        </a>

        <form asp-action="CurrencyDetail" method="post">
            <input type="hidden" asp-for="CurrencyDto.Id" />
            <div class="card shadow">
                <div class="card-header">
                    <h3 class="card-title">@Model.CurrencyDto.Name (@Model.CurrencyDto.Code - @CurrencyEnum.GetCurrencyTypeByOperationType(Model.CurrencyDto.OperationType).Text) İçin Kur Değerleri</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-0">
                                <label class="form-label">Başlangıç Tarihi</label>
                                <input type="hidden" asp-for="StartDate" />
                                <input class="form-control form-control-solid" placeholder="Pick date rage" id="startDatePicker" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="col-md-6">
                                <div class="mb-0">
                                    <label class="form-label">Bitiş Tarihi Tarihi</label>
                                    <input type="hidden" asp-for="EndDate" />
                                    <input class="form-control form-control-solid" placeholder="Pick date rage" id="endDatePicker" />
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-flex btn-primary px-6">
                        <!--begin::Svg Icon | path: assets/media/icons/duotone/Files/File-Search.svg-->
                        <span class="svg-icon svg-icon-muted svg-icon-2hx">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path opacity="0.25" d="M3 4C3 2.34315 4.34315 1 6 1H15.7574C16.553 1 17.3161 1.31607 17.8787 1.87868L20.1213 4.12132C20.6839 4.68393 21 5.44699 21 6.24264V20C21 21.6569 19.6569 23 18 23H6C4.34315 23 3 21.6569 3 20V4Z" fill="#12131A" />
                                <path d="M15 1.89181C15 1.39927 15.3993 1 15.8918 1V1C16.6014 1 17.2819 1.28187 17.7836 1.78361L20.2164 4.21639C20.7181 4.71813 21 5.39863 21 6.10819V6.10819C21 6.60073 20.6007 7 20.1082 7H16C15.4477 7 15 6.55228 15 6V1.89181Z" fill="#12131A" />
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M13.032 15.4462C12.4365 15.7981 11.7418 16 11 16C8.79086 16 7 14.2091 7 12C7 9.79086 8.79086 8 11 8C13.2091 8 15 9.79086 15 12C15 12.7418 14.7981 13.4365 14.4462 14.032L16.7072 16.293C17.0977 16.6835 17.0977 17.3167 16.7072 17.7072C16.3167 18.0977 15.6835 18.0977 15.293 17.7072L13.032 15.4462ZM13 12C13 13.1046 12.1046 14 11 14C9.89543 14 9 13.1046 9 12C9 10.8954 9.89543 10 11 10C12.1046 10 13 10.8954 13 12Z" fill="#12131A" />
                            </svg>
                        </span>
                        <!--end::Svg Icon-->
                        <span class="d-flex flex-column align-items-start ms-2">
                            <span class="fs-3 fw-bolder">Verileri Getir</span>
                            <span class="fs-7">İki tarih arasındaki verileri getirir ve kaydeder</span>
                        </span>
                    </button>
                </div>
            </div>
        </form>
        @if (Model.CurrencyRatingDtos != null)
        {
            <div class="card ">
                <div class="card-header">
                    <h3 class="card-title">@Model.CurrencyDto.Name (@Model.CurrencyDto.Code - @CurrencyEnum.GetCurrencyTypeByOperationType(Model.CurrencyDto.OperationType).Text) için @Model.StartDate.ToShortDateString() - @Model.EndDate.ToShortDateString() arasındaki kur değerleri</h3>
                    <div class="card-toolbar">
                        <button type="button" class="btn btn-sm btn-light">
                            Action
                        </button>
                    </div>
                </div>
                <div class="card-body">

                    <div class="table-responsive">
                        <table class="table table-striped gy-7 gs-7">
                            <thead>
                                <tr class="fw-bold fs-6 text-gray-800 border-bottom-2 border-gray-200">
                                    <th>Tarih</th>
                                    <th>Kur Değeri</th>
                                    <th>İşlem Tipi</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var currencyRating in Model.CurrencyRatingDtos)
                                {
                                    <tr>

                                        <td>@currencyRating.Date.ToShortDateString()</td>
                                        <td>@currencyRating.Rating</td>
                                        <td>@CurrencyEnum.GetCurrencyTypeByOperationType(Model.CurrencyDto.OperationType).Text</td>




                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>


                </div>
                <div class="card-footer">
                    Footer
                </div>
            </div>
        }
    </div>
</div>
@section scripts{
    <script src="~/meta/home/currency-detail.js"></script>
}

